/* You can add global styles to this file, and also import other style files */
$primary-corporate: #008000;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
}

.mercadona-button {
  background-color: $primary-corporate;
  color: white;
  padding: 4px;
}

.mat-icon {
  cursor: pointer;
}

$background-corporate: #f5f5f5;
